.side-line-side::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: 28%;
    top: 46%;
    visibility: visible;
}
@media (min-width: 250px) and (max-width: 700px) {
    .side-line-side::after {
     display: none;}}
    