
.legacy-image {
  height: 65vh;
  width: 150%;
  margin-left: -49%;
}
.all-background.py-4.mt-4 {
  width: 99%;
  margin-left: 1%;
}
.cursor-pointer {cursor: pointer;}
.textarea-submit {
  width: 100%; 
  max-width: 100%; 
  height: 190px; 
}
@media (min-width: 576px) {
  .textarea-submit {max-width: 540px; }}
@media (min-width: 768px) {
  .textarea-submit {max-width: 720px;}}
@media (min-width: 992px) {
  .textarea-submit {max-width: 960px; }}
@media (min-width: 1200px) {
  .textarea-submit {max-width: 1503px; }}


















