.textarea-submit{width: 1503px; height: 190px;}
.legacy-image {
  height: 65vh;
  width: 150%;
  margin-left: -49%;
}
.cursor-pointer {cursor: pointer;}
@media (min-width: 250px) and (max-width: 768px) {.textarea-submit {width:297px;height: 253px;}}@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){.textarea-submit {width: 42rem;}}@media (min-width: 1025px) and (max-width: 1440px){.textarea-submit {width:55rem;}}@media (min-width: 600px) and (max-width: 768px) { .textarea-submit {width:34rem;}}@media (min-width: 768px) and (max-width: 1024px),(min-width: 900px) and (max-width: 1536px) { .textarea-submit {width:42rem;}}
@media (min-width: 810px) and (max-width: 1080px){ .textarea-submit {width:40rem;}}
@media (min-width: 900px) and (max-width: 1600px){ .textarea-submit {width:49rem;}}


















