.book-publish .slick-slide img {
  max-height: 283px;
}
.testimonial-card {
  width: 94%;
  max-height: 355px;
}
.slick-dots li button:before {
  font-size: 15px;
  top: 5px;
}
.book-image {
  width: 98%;
  padding: 2%;
}
.book-publish .slick-list {
  margin-left: 100px;
  margin-right: 100px;
}
.book-publish .arrow-right {
  right: 30px;
}
.book-publish .arrow-left {
  left: 30px;
}
.book-publish.slick-slider {
  width: 114%;
  margin-left: -109px;
}

.book-publish .slick-dots {
  bottom: -32px !important;
}
@media (min-width: 250px) and (max-width: 700px) {
  .book-publish .slick-list {
    margin-left: 0;
    margin-right: 0;
  }
  .book-publish.slick-slider {
    width: 100%;
    margin-left: 0px;
  }
}
