.contact-card{
    height: 100%;
}
.contact-card:after {
    content: "";
    position: absolute;
    width: 89%;
    height: 2px;
    bottom: 0;
    left: 6%;
    top: 99%;
    background-color: #0160D8;
    visibility: visible;
}
.bg-img-map{
    z-index: -1;
}
.bg-img{
    padding: 0 !important;
    background-image: url(../../../assests/images/mapping.jpeg);
}
.input-contact-fields::placeholder{
    font-weight: 400;
    color: lightgray !important;
    font-size: small;
}
.asx-map-container  {
    padding: 0 !important;
}