

.contact-card{
    height: 100%;
    width:95%;
    box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 8px 3px;
}
.contact-card:after {
    content: "";
    position: absolute;
    width: 84%;
    height: 2px;
    bottom: 0;
    left: 6%;
    top: 99%;
    background-color: #0160D8;
    visibility: visible;
}
.bg-img{
    padding: 0 !important;
    background-image: url(../../../assests/images/mapping.jpeg);
    background-size: cover;
}
.contact-section-minidescription{font-size: smaller;}
.contact-section-title{letter-spacing: 0.4rem;}
.input-contact-fields::placeholder{
    font-weight: 400;
    color: lightgray !important;
    font-size: small;
}
@media (min-width: 250px) and (max-width: 700px) {
p.contact-page-maindescription{
    width: 100% !important;
}
.container-contact{
    width: 100% !important;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
    .contact-card {
        margin-left: -6%;
        width: 13.4rem;
    }
}








