.header-icons{
  width:35.92;
  height: 33.92;
  padding-left: 13px;
}
.logo-image{
  width:174px;
  height:176px;
}
input:focus{
  box-shadow: none !important;
  border-color: inherit !important;
  outline: none !important;
}
button:focus{
  box-shadow: none !important;
  border-color: inherit !important;
  outline: none !important;
}
@media (min-width: 250px) and (max-width: 700px) {
  .header-icons{
    border-radius: 25%;
    padding-left: 0px;
  }}
  