.search-bar{
    width:475px;
    height:50px;
    top:0px;
    font-size: 16px;
    left:104px;
  }
  .header-icons{
    width:35.92;
    height: 33.92;
    padding-left: 13px;
  }
  .phone-icons{
    width:186.87px;
    height:80px;
    margin-top: 1%;
  margin-left: 15.5%;
  }
  .logo-image{
    width:174px;
    height:176px;
  
  }
  @media (min-width: 250px) and (max-width: 700px) {
    .search-bar{
      top:1px;
      left:0;
    }
    .phone-icons{margin-bottom: 1%; }}
    