.Faq-section {background-color:#f8f8f8d7}
.Faq-section {
    padding-left: 50px;
    padding-right: 50px;
  }
  .faq-container {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }