
.timeline-1 {
    border-left: 3px solid #414141;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    margin-left: 16%;
    list-style: none;
    text-align: left;
    max-width: 70%;
    padding: 0px;
  }
  .biography-text {
    margin-bottom: 4%;
    margin-left: 9%;
}
.biography-component {
    margin-left: 18%;
}
.biography-header{  letter-spacing: 15px;}
.biography-head{ margin-left: 13%; }
  .timeline-1 .event {
    position: relative;
  }
  .timeline-1 .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline-1 .event:before,
  .timeline-1 .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline-1 .event:before {
    left: -227px;
    content: attr(data-date);
    text-align: right;
    font-weight: 500;
    color:black;
    font-size: 25px;
    min-width: 180px;
  }
  .timeline-1 .event:after {
    box-shadow: 0 0 0 3px #000;
    left: -6px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 1px;
  }
  @media (max-width: 767px) {
    .timeline-1 .event:after {
      top: 1%;
      left: -7.8px;
  
    }
    .timeline-1 {
      max-width: 98%;
      padding: 2px;
    }
    .timeline-1 .event:before {
      left: 0px;
      padding: 4px;
      text-align: left;
  } 
  .timeline-1 .event {
    padding-top: 30px;
 
  }
  .biography-header{  letter-spacing: 5px;}
  .biography-component {
    margin-left: 0%;
}
.biography-text {
  padding: 4px;
  margin-left: 2%;
}
  }