
.Accordian-width {
  width: 5%;
  /* height: 455px; */
  flex: 1 1 20%;
}
.accordian-list {padding: 20px;}
.accordian-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 82px;
}
.hover-li:hover {
  background-color: #d0d0d0;
}
.accordion-button:not(.collapsed) {
  background-color: #d0d0d0 !important;
}
@media (max-width: 1200px) {
  .Accordian-width {
    width: 45%;
    height: auto;
  }
  .accordian-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  .accordian-start {
    flex-direction: column; 
    align-items: center; 
  }
  .accordian-list { padding: 10px; }}
@media (max-width: 768px) {
  .accordian-start {
    flex-direction: column;
    align-items: center; 
  }
  .accordian-list {
    font-size: 1rem; 
    padding: 8px;
  }
  .hover-li {padding: 10px 0;}}
@media (max-width: 576px) {
  .Accordian-width {
    width: 100%; 
    height: auto; 
  }
  .accordian-list {
    font-size: 0.9rem; 
    padding: 8px; 
  }
  .accordian-start {
    flex-direction: column; 
    align-items: center;
  }
}
@media screen and (min-width: 1280px) and (max-height: 720px) {
  .Accordian-width {
      height: 470px;
  }}



