.Accordian-width {
  width: 31%;
  height: 420px; 
}
.accordian-list{
  padding: 20px;
}
.accordian-start {
  margin-right: 52px;
  margin-left: 82px;
}
.hover-li:hover {
  background-color: #d0d0d0;
}
.accordion-button:not(.collapsed) {
  background-color:#d0d0d0!important;
}

@media (min-width: 250px) and (max-width: 767px) {
  .Accordian-width {
    width: 94%;
  }
  .accordian-start {
    margin-right: 10px;
    margin-left: 5px;
  }
}
