.img-gallery{
  width: 100%;
  height: 366px;
}
.custom-tabs .tab-link.active {
  border-bottom: 3px solid #000; 
  color: black; 
  background-color: #fff; 
}
.custom-tabs .tab-link {
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; 
  color: #555;
  border-bottom: 2px solid rgb(122, 122, 122); 
  padding: 10px 20px;
}

@media (min-width: 250px) and (max-width: 768px) {
  .custom-tabs .tab-link {
  width: 80%;
  }
  
}

