.gallery-page-0,.gallery-page-1{
  height: 350px;
}
.gallery-images img{
  height:100%;
  width: 100%;
}
.custom-tabs .nav-link {
  position: relative;
  margin-right: 20px;
  padding-bottom: 5px;
}
.custom-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: black;
}

.nav-tabs {
  border: none !important;
}
.nav-tabs .nav-link {border: none !important;}
.custom-tabs .nav-link {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
}


