.quick-links-container {
  margin-left: 4%;
  margin-right: 16%;
    border-left: 1px solid rgba(255, 255, 255, 0.082);
    border-right:1px solid rgba(255, 255, 255, 0.082);
    padding: 0 0px;
    height: 76%;
  }
  @media (max-width: 768px) {
    .footer-section{
      width:100%!important;
      margin:0 !important;
    }
  }
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
    .d-flex.mt-4.mb-4 {
      height: 60px;
      width: 100% !important;
  }}
  @media (min-width: 600px) and (max-width: 768px) {
    .footer-section{
      width:95%!important;
      margin:0 !important;
    }
  } 


  